body {
  margin: 0;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ui {
  position: relative;
  z-index: 1;
  display: flex;
}

#title {
  text-align: center;
  font-size: 64px;
  color: rgb(17, 102, 17);
}

#intro {
  text-align: center;
  font-size: 24px;
  width: 80%;
  color: rgb(17, 102, 17);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end 8;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-right: 0.15em solid rgb(17, 102, 17);
  }
}
#input-name {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: rgb(1, 16, 4);
  border: none;
  background-color: rgb(17, 102, 17);
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  width: 150px;
  margin-left: 10px;
}

#start {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: rgb(17, 102, 17);
  border: 1px solid rgb(17, 102, 17);
  background-color: rgb(1, 16, 4);
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-left: 10px;
}

#game-container {
  padding-top: 10vh;
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 45%;
}

#computer-board,
#player-board {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  border: none;
  background-color: rgb(1, 16, 4);
}

.square {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(17, 102, 17);
  background-color: rgb(1, 16, 4);
  color: rgb(17, 102, 17);
}

.background {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 16, 4);
  z-index: -1;
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 60px;
  border: 3px dashed rgb(17, 102, 17);
  aspect-ratio: 1/1;
}

#second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  aspect-ratio: 1/1;
  animation: pulse 8s linear infinite;
}

#third {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  aspect-ratio: 1/1;
  animation: pulse 8s linear infinite;
}

#fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  aspect-ratio: 1/1;
  animation: pulse 8s linear infinite;
}

#fifth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  aspect-ratio: 1/1;
  animation: pulse 8s linear infinite;
}

.circle {
  background-color: rgb(2, 23, 7);
  border: 3px solid rgb(17, 102, 17);
  border-radius: 50%;
}

#h-line {
  position: absolute;
  width: 3px;
  height: 60vh;
  background-color: rgb(17, 102, 17);
  color: rgb(17, 102, 17);
}

#v-line {
  position: absolute;
  width: 60vh;
  height: 3px;
  background-color: rgb(17, 102, 17);
  color: rgb(17, 102, 17);
}

#move-line {
  position: absolute;
  width: 3px;
  height: 32.5vh;
  background-color: rgb(17, 102, 17);
  z-index: 2;
  bottom: calc(50% - 30px);
  left: calc(50% + 0px);
  transform-origin: bottom center;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  5% {
    border-width: 5px;
    border-color: rgb(19, 115, 19);
  }
  10% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  25% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  30% {
    border-width: 5px;
    border-color: rgb(19, 115, 19);
  }
  35% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  50% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  55% {
    border-width: 5px;
    border-color: rgb(19, 115, 19);
  }
  60% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  75% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
  80% {
    border-width: 5px;
    border-color: rgb(19, 115, 19);
  }
  85% {
    border-width: 3px;
    border-color: rgb(17, 102, 17);
  }
}
#miss {
  background-color: red;
}

#hit {
  background-color: rgb(2, 23, 7);
  color: rgb(17, 102, 17);
}/*# sourceMappingURL=style.css.map */