.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(2, 23, 7);
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
}

#second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

#third {
  height: 400px;
  width: 400px;
}

.circle {
  background-color: rgb(2, 23, 7);
  border: 3px solid rgb(17, 102, 17);
  border-radius: 50%;
}
